<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/  file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" title="Menu" label="Openbox 3">
	<separator label="Main Menu"/>
	<item label="Run A Program">
		<action name="Execute">
				<execute>~/.config/rofi/scripts/run.sh</execute>
		</action>
	</item>
	<separator/>
		<item label="Terminal">
			<action name="Execute">
				<command>sterm</command>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<command>web</command>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<command>pcmanfm</command>
			</action>
		</item>
		<item label="Text Editor">
			<action name="Execute">
				<command>geany</command>
			</action>
		</item>
		<separator/>
		<menu execute="ob-terminal-pipemenu" id="pipe-424146" label="Terminals"/>
		<menu id="root-menu-8365" label="Screenshot">
			<item label="Screenshot Now">
				<action name="Execute">
					<execute>s0</execute>
				</action>
			</item>
			<item label="Screenshot In 5">
				<action name="Execute">
					<execute>s5</execute>
				</action>
			</item>
			<item label="Screenshot In 10">
				<action name="Execute">
					<execute>s10</execute>
				</action>
			</item>
			<item label="Screenshot Area">
				<action name="Execute">
					<execute>sA</execute>
				</action>
			</item>
			<item label="Screenshot Window">
				<action name="Execute">
					<execute>sW</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu execute="ob-places-pipemenu --recent ~/" id="pipe-placesmenu" label="Places"/>
		<menu execute="ob-recent-files-pipemenu" id="pipe-164328" label="Recent Files"/>
		<separator/>
		<menu id="preferences" label="Preferences">
			<menu id="obConfig" label="Openbox">
				<item label="Settings GUI">
					<action name="Execute">
						<command>obconf</command>
					</action>
				</item>
				<item label="Menu GUI">
					<action name="Execute">
						<command>obmenu</command>
					</action>
				</item>
				<separator/>
				<item label="Edit menu.xml">
					<action name="Execute">
						<command>exo-open ~/.config/openbox/menu.xml</command>
					</action>
				</item>
				<item label="Edit rc.xml">
					<action name="Execute">
						<command>exo-open ~/.config/openbox/rc.xml</command>
					</action>
				</item>
				<item label="Edit autostart">
					<action name="Execute">
						<command>exo-open ~/.config/openbox/autostart</command>
					</action>
				</item>
				<separator/>
				<item label="Openbox Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Openbox Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu execute="ob-polybar-pipemenu" id="PolybarPipeMenu" label="Polybar"/>
			<menu execute="ob-settings-pipemenu" id="pipe-414146" label="Settings"/>
			<separator/>
			<item label="Appearance Settings">
				<action name="Execute">
					<command>xfce4-appearance-settings</command>
				</action>
			</item>
			<item label="Settings Manager">
				<action name="Execute">
					<command>xfce4-settings-manager</command>
				</action>
			</item>
		</menu>
		<menu execute="ob-help-pipemenu" id="help" label="Help and Info"/>
		<menu execute="ob-kb-pipemenu" id="keybinds" label="Keybinds"/>
		<separator/>
		<item label="Exit Openbox">
			<action name="Execute">
				<command>~/.config/rofi/scripts/powermenu.sh</command>
			</action>
		</item>
	</menu>
</openbox_menu>
<!-- vim:sw=2
-->
