configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  columns: 3;
}
