* {
  accent:           #ffbf00;
  background:       #1c1c1c;
  background-light: #1f1f1f;
  background-focus: #282828;
  foreground:       #888888;
  foreground-list:  #bbbbbb;
  on:               #44ad4d;
  off:              #e34039;
}
