* {
  accent:           #83a598;
  background:       #282828;
  background-light: #282828;
  background-focus: #1d2021;
  foreground:       #ebdbb2;
  foreground-list:  #ebdbb2;
  on:               #83a598;
  off:              #fb4934;
}
