* {
  accent:           #6699ff;
  background:       #f2f2f2;
  background-light: #e2e2e2;
  background-focus: #d2d2d2;
  foreground:       #333333;
  foreground-list:  #222222;
  on:               #44ad4d;
  off:              #e34039;
}
